<div id="bell_tower" class="hidden">
  <div class="popupContainer">
    <div class="action_info"><%=(t 'board.select_an_option') %></div>
    <a class="closePopup" title="close popup"></a>

    <div class="popupContent">
      <div>

           <div class="actionMessage"><%= t  'board.cut_down_game'%></div>
        <div id="options">
          <div class="option_button">
          <%= link_to (t 'board.yes'), party_action_path(@game.id, [action.id, true]) %>
          </div>
          <div class="option_button">
          <%= link_to (t 'board.no'), party_action_path(@game.id, [action.id, false]) %>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="overlayEffect">
  </div>
</div>
