
<div id="build" class="hidden">
  <div class="popupContainer">
  <a  class="closePopup" title="close popup"></a>
    <h3>Construir</h3>
<%districts = current_user.player.district_to_construct
 if districts.size != 0 %>


  <%districts.each do |districit_card|%>

        <%= link_to (render :partial => 'district_card', :object => districit_card), party_action_path(@game.id, [action.id,districit_card.id]) %>

 <%end

 end %>
</div>
</div>