<div id="build" class="hidden">
  <div class="popupContainer">
  <a  class="closePopup" title="close popup"></a>
    <div class="popupContent">

    <div id="build_container">


<div>
<% player = current_user.player
   districts = player.district_to_construct
 if districts.size != 0 %>


  <%districts.each do |select_district_card|%>

        <%= #noinspection RubyResolve
            link_to (render :partial => 'select_district_card', :object => select_district_card), party_action_path(@game.id, [action.id,select_district_card.id]) %>
        <% end%>

      </div>

<%else%>


        <div>
          No puedes construir distritos en este turno
        </div>

          </div>

 <%end%>
  </div>
</div>
</div>
<script type="text/javascript">


  $('#build_container').jScrollPane({autoReinitialise: true});

</script>