<div id="change_cards" class="hidden" xmlns="http://www.w3.org/1999/html">
    <div class="popupContainer">
      <a class="closePopup" title="close popup"></a>

      <% index = 0
         %w(change_with_player  change_with_maze ).each do |option| %>
          <div class="tab_data">
            <div class="<%= selected_class('tab', index) %>"><%=t ('board.' + option)%></div>
            <div class="<%= visible_class('cards', index) %>">

              <% index += 1 %>
                  <%= render :partial => option %>
            </div>
          </div>
      <% end %>
    </div>
  </div>

<script type="text/javascript">
   tabs("change_cards");
</script>