<%#=  image_tag 'cards/' + character_card.base_card.name.downcase + '.jpg', :title => (t character_card.base_card.name, :scope => 'characters') %>
<div class="card" id="<%=  character_card.base_card.name%>" title="<%= actions_tooltip character_card.base_card.name %>">

</div>