<div id="change_cards" class="hidden">
    <div class="popupContainer">
      <a class="closePopup" title="close popup"></a>
      <div class="popupContent">
      <% index = 0
         %w(change_with_player  change_with_maze ).each do |option| %>
          <div class="tab_data">
            <div class="<%= selected_class('tab', index) %>"><%=t ('board.' + option)%></div>
            <div class="<%= visible_class('cards', index) %>">

              <% index += 1 %>
                  <%= render :partial => option %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    //$('.container_cards_pop').jScrollPane({autoReinitialise: true});
   tabs("change_cards");
</script>