<div class="character_ui" id="<%= #noinspection RubyResolve
                                    character_ui.base_card.name%>_ui" title="<%= #noinspection RubyResolve
                                                                                actions_tooltip character_ui.base_card.name %>">

</div>
