<div class="character_card" id="<%= #noinspection RubyResolve
                                    character_card.base_card.name%>" title="<%= #noinspection RubyResolve
                                                                                actions_tooltip character_card.base_card.name %>">

</div>
