<div id="card_selected_id">
<% @game.cards.characters.find(:all, :conditions => ["state = 'ONGAME' and player_id IS null"]).each do |select_char| %>
        <%= link_to (render :partial =>  'select_char', :object => select_char),  party_action_path(@game.id, [action.id, select_char.id])%>

    <% end %>

    </div>