  <div id="change_cards" class="hidden">
    <div class="popupContainer">
      <a class="closePopup" title="close popup"></a>

    Cambiar con jugador
     <%= link_to 'Cambiar', party_action_path(@game.id, [action.id,'change_with_player']) %>


    Cambiar con mazo
    <%= link_to 'Cambiar', party_action_path(@game.id, [action.id,'change_with_maze']) %>


    </div>
  </div>