
<div id="coins_to_cards" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup" title="close popup"></a>

    <div class="popupContent">

      <div class="actionMessage">Pagar 3 monedas para coger 3 distritos</div>

      <% if current_user.player.coins >= 4 %>

      <div class="ok_button">
      <%= #noinspection RubyResolve
         link_to 'Vale', party_action_path(@game.id, [action.id]) %>
      </div>

      <% else %>
          <div class="actionMessage">No tienes monedas suficiente</div>
      <% end %>

      </div>
    </div>
</div>