
<div id="coins_to_cards" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup" title="close popup"></a>
     <%= #noinspection RubyResolve
         link_to (t 'districts.smithy.description'), party_action_path(@game.id, [action.id]) %>
  </div>
</div>