<div id="destroy_building" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup" title="close popup"></a>

<%@game.players.each_with_index do |player,index| %>

 <div class="player_data">

    <div class="<%=selected_class('player_tab', index)%>"><%= player.name %>
    </div>
        <div class="<%= visible_class('cards', index)%>">

          <% #noinspection RubyResolve
             if player.player_character.base_card.name != 'bishop' %>
              <% cards = current_user.player.get_destrutible_building(player)
                 cards.each do |district_card|

                   if district_card.state == 'ONGAME' %>
                      <%= #noinspection RubyResolve
                          link_to (render :partial => 'district_card', :object => district_card),
                                  party_action_path(@game.id, [action.id, district_card.id]) %>
                   <%end%>
              <%end%>
          <% else %>
              <h2>No puesdes destruir edificios del Obispo</h2>
          <% end %>






         </div>
 </div>
<%end%>


    <%  (7 - @game.players_to_destroy.count).times do %>
        <div class="player_tab disabled" >

        </div>

    <% end %>


  </div>
</div>

  <script type="text/javascript">


      $(function (){

          $('.player_tab').click(function(ev){


              if ($(ev.currentTarget).hasClass("unselected")){
                  var option = $($(ev.currentTarget));
                  var no_option = $('.player_tab.selected');
                  var hidden = option.next();
                  var visible = $('#destroy_building .visible');

                  option.removeClass("unselected");
                  option.addClass("selected");
                  no_option.removeClass("selected");
                  no_option.addClass("unselected");

                  hidden.removeClass("hidden");
                  hidden.addClass("visible");
                  visible.removeClass("visible");
                  visible.addClass("hidden");
              }


          })



      })


  </script>