<div class="card" id="<%= #noinspection RubyResolve
                          district_card.name %>" title = "<%= #noinspection RubyResolve
                                                                                 district_tooltip district_card  %><%#= #noinspection RubyResolve
                                                                                                                       district_card.id%>" >



</div>
