<div class="card preview" id="<%= #noinspection RubyResolve
                          district_card.name %>" title = "<%= #noinspection RubyResolve
                                                               district_tooltip district_card  %>">



</div>
