
<div id="extra_coin" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup" title="close popup"></a>
    <%= link_to  (t 'actions.names.extra_gold'), party_action_path(@game.id, [action.id]) %>
  </div>
</div>