
<div id="extra_coin" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup"></a>
    <h2>Coger moneda de oro</h2>
    <%= #noinspection RubyResolve
        link_to  'Coger', party_action_path(@game.id, [action.id]) %>
  </div>
</div>