<div id="kill" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup" title="close popup"></a>
   <h2>Elige tu víctima</h2>

  <%@game.players_to_kill.each do |select_char|%>
 <div class="character_target">
    <%= #noinspection RubyResolve
        link_to (render :partial => 'select_char', :object => select_char), party_action_path(@game.id, [action.id,select_char.id])%>

 </div>
 <% end %>

  </div>
</div>

