<% characters = Card.characters.where("name <> 'assasin' AND state <> 'BACKS' AND party_id = ?", @game.id)%>


<div id="kill" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup" title="close popup"></a>


  <%characters.each do |character_card|%>

 <%= link_to (render :partial => 'character_card', :object => character_card), party_action_path(@game.id, [action.id,character_card.id])%>

 <% end %>

  </div>
</div>

