<% oppenents =    current_user.player.opponents
   oppenents.each do |opponent|  %>
 <div class="opponent">
   <!--<div class="opponent_name"> <h3><#%= opponent.name.capitalize %></h3></div>-->
   <div class="opponent_iu">

     <div class="oppent_char">

       <%= character_img opponent %>

     </div>


     <div class="data_opponent" id="points">
       <!--<div class ="title"> <%#= t 'board.points' %></div>-->
       <div class="value"> <%= count_points opponent.recount %></div>
     </div>
     <div class="data_opponent" id="cards">
       <!--<div class ="title"> <%#= t 'board.coins' %></div>-->
       <div class="value"> <%= opponent.coins %></div>
     </div>




   </div>
   <div class="opponent_cards">
       <% cards = opponent.districts_on_game
          cards.each do |district_card|%>



            <%= render :partial => 'district_card', :object => district_card %>



       <% end%>

   </div>



 </div>
<%end%>




