<% oppenents =    current_user.player.opponents
   oppenents.each do |opponent|  %>
 <div class="opponent">

   <div class="opponent_iu">

     <div class="oppent_char">

       <%= character_img opponent %>

     </div>


     <div class="data_opponent" id="points">

       <div class="value"> <%= opponent.coins   %></div>
     </div>
     <div class="data_opponent" id="cards">

       <div class="value"> <%= opponent.districts_on_game.length%></div>
     </div>




   </div>
   <div class="opponent_cards">
       <% cards = opponent.districts_on_game
          cards.each do |district_card|%>



            <%= render :partial => 'district_card', :object => district_card %>



       <% end%>

   </div>



 </div>
<%end%>




