<div class="opponent_iu" id="<%= #noinspection RubyResolve
                                 opponent_char.base_card.name%>" title="<%= #noinspection RubyResolve
                                                                                actions_tooltip opponent_char.base_card.name %>">


  <div class="player_name"><%= #noinspection RubyResolve
                             name.capitalize %></div>
</div>
