<div id="search_card" class="hidden">
  <div class="popupContainer">
    <a class="closePopup" title="close popup"></a>


    <% index = 0
       @game.cards_in_deck.each do |colour, array| %>
        <div class="tab_data">

          <div class="<%= selected_class('tab', index) %>"><%= colour %> </div>
          <div class="<%= visible_class('cards', index) %>">

            <% index += 1
               array.each do |district_card| %>

                <%= link_to (render :partial => 'district_card', :object => district_card),
                            party_action_path(@game.id, [action.id, district_card.id]) %>

            <% end %>
          </div>
        </div>

    <% end %>
    </div>
    </div>



<script type="text/javascript">

tabs("search_card");


</script>