<% if current_user.player.state == 'SELECTION_TURN'  %>

    <div class="popupContainer" class="hidden">
      <h2>Elige Personaje</h2>


      <% ongamecards = @game.cards.characters.where("state = 'ONGAME'")
         ongamecards.each do |character_card|

          if character_card.player_id.nil?  %>
          <%= link_to (render :partial =>  'character_card', :object => character_card),
                          { :controller => :parties, :action => :select_card,:party_id => character_card.party_id, :card_id => character_card.id}%>

      <% end
         end %>

   <div id="descartes">
     <h4>Descartados</h4>
    <%= render :partial => 'descartes' %>
   </div>

      </div>
    <script type="text/javascript">
        loadPopup();
    </script>


<% elsif current_user.player.state == 'TURN'%>


<div class="popupContainer" class="hidden">
     <h2>Elige una acción</h2>
<%action_list = current_user.player.actions

    action_list.each do |action|%>

        <%= render :partial => action.base_action.partialname, :locals => {:action => action}%>


     <% end %>

</div>


    <script type="text/javascript">
        loadPopup();
    </script>

<% elsif current_user.player.state == 'ACTION'

     action_list = current_user.player.actions%>



      <%action_list.each do |action|%>
            <div class="actiondiv">
            <%= render :partial => action.base_action.partialname, :locals => {:action => action} %>
        </div>

      <%end%>

<% end %>



