<div class="select_char" id="<%= #noinspection RubyResolve
                                 select_char.base_card.name%>_select" title="<%= #noinspection RubyResolve
                                                                                actions_tooltip select_char.base_card.name %>">


  <div class="char_name"><%= #noinspection RubyResolve
                             (t 'characters.' + select_char.base_card.name + '.name') %></div>

</div>
