<% current_player = current_user.player
   if current_player.state == 'SELECTION_TURN'
     session[:refresh] = false

    action_list = current_player.actions
    action_list.each do |action| %>
      <%= #noinspection RubyResolve
            render :partial => action.base_action.partialname, :locals => {:action => action} %>
    <% end %>


    <%#= render :partial => 'select_character' %>


<% elsif current_player.state == 'TURN' %>


    <div id="acciones" class="hidden">

      <% action_list = current_player.actions
         session[:refresh] = false %>

      <div class="popupContainer">
        <div class="action_info"><%= action_title(action_list) %></div>
        <div class="popupContent">
          <% action_list.each do |action| %>
              <%= #noinspection RubyResolve
                  render :partial => action.base_action.partialname, :locals => {:action => action} %>
          <% end %>

        </div>
      </div>
      <div class="overlayEffect">
      </div>
    </div>

    <script type="text/javascript">
        loadPopup("acciones");
    </script>

<% elsif current_player.state == 'ACTION'
     session[:refresh] = false
     action_list = current_player.actions %>



    <% action_list.each do |action| %>
        <div class="actiondiv">
          <%= #noinspection RubyResolve
              render :partial => action.base_action.partialname, :locals => {:action => action} %>
        </div>

    <% end %>

<% end %>