

<div id="steal" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup" title="close popup"></a>

<% characters = Card.characters.where("name <> 'assasin' AND name <> 'thief' AND murdered <> 'TRUE' and party_id = ? AND state <> 'BACKS'", @game.id)%>


    <%characters.each do |character_card|%>

          <%= link_to (render :partial => 'character_card', :object => character_card),
                      party_action_path(@game.id, [action.id,character_card.id])%>


    <% end %>


    </div>
</div>