<div>

  <div id="tablero">

    <div id="lista_jugadores" class="hueco_tablero">
      <div id="player_containter">
        <%= render :partial => 'oponentes' %>
      </div>
    </div>


    <div id="top_tablero">
      <div id="player_elements_container" class="hueco_tablero">
        <%= render :partial => 'mano' %>
      </div>
    </div>
    <div id="seleccion_personaje" class="hueco_tablero">
      <%= render :partial => 'seleccion' %>
    </div>

  </div>

  <div id="messages_container" class="hidden">
    <div class="popupContainer">
      <a id="closeme" class="closePopup" title="close popup"></a>

      <div class="popupContent">
        <div class="container_cards_pop">
          <% @game.game_messages.order('id DESC').each do |message| %>
              <p><%= t message.message, :actor_player => message.actor_player, :target_player => message.target_player, :target_district => (t message.target_district), :quantity => message.quantity %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="overlayEffect">
    </div>
  </div>
  <script type="text/javascript">
      $('.container_cards_pop').jScrollPane({autoReinitialise: true});
  </script>
</div>
