<div>

  <div id="tablero">

    <div id="board_top">

      <div id="lista_jugadores" class="hueco_tablero">
        <div id="player_containter">
          <%= render :partial => 'oponentes' %>
        </div>
      </div>

      <div id="log_container">
      </div>
    </div>

    <div id="board_bottom">
      <div id="player_elements_container" class="hueco_tablero">
        <%= render :partial => 'mano' %>
      </div>
      <div id="messages_icon"></div>
    </div>
    <div id="seleccion_personaje" class="hueco_tablero">
      <%= render :partial => 'seleccion' %>
    </div>

  </div>
  <!-- log -->
  <div id="messages_container" class="hidden">
    <div class="popupContainer">

      <a id="closeme" class="closePopup" title="close popup"></a>

      <div class="popupContent">
        <div class="container_cards_pop">
          <% @game.game_messages.order('id DESC').each do |message| %>
              <p><%= t message.message, :actor_player => message.actor_player, :target_player => message.target_player, :target_district => (t message.target_district), :quantity => message.quantity %></p>
          <% end %>
        </div>
        <script type="text/javascript">
                   //TODO descomentar
            $('.container_cards_pop').jScrollPane({autoReinitialise: true});

        </script>

      </div>
    </div>
    <div class="overlayEffect">
    </div>

  </div>

</div>
