<div id="tablero">



  <div id="seleccion_personaje" class="hueco_tablero">

    <%= render :partial => 'seleccion' %>


  </div>



  <div id="lista_jugadores" class="hueco_tablero">

    <%= render :partial => 'oponentes' %>


  </div>



  <div id="top_tablero">

    <div id="player_elements_container" class="hueco_tablero" >

      <%= render :partial => "mano" %>

    </div>


    <!--<div id="descartes" class="hueco_tablero" >-->

      <!--<%#= render :partial => "descartes" %>-->

    <!--</div>-->

  </div>
</div>

