<div id="take_taxes" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup" title="close popup"></a>

    <h2>Recaudar impuestos</h2>
    <% taxes = current_user.player.calculate_taxes %>

      <% if taxes > 0 %>
        <div id="taxes_recount">
          <p>Recibirás</p>
              <%= taxes %>
          <p>monedas</p>
          <%= link_to 'Recibir', party_action_path(@game.id, [action.id])%>
        </div>


      <% else %>

             <h2>No hay impuesto para recaudar</h2>

       <%end%>


      </div>
</div>