<div id="take_taxes" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup" title="close popup"></a>

<%= link_to (t 'actions.names.taxes'),party_action_path(@game.id, [action.id])%>
      </div>
</div>