<%= #noinspection RubyResolve
    link_to party_action_path(@game.id, action.id) do %>
    <div  class="actionOption" id="cardsback" title="<%= t 'actions.take_districts'%>">
    </div>
    <div class="takeText"><%= t 'board.take_cards' %></div>
<%end%>



