<%#= link_to (image_tag "cards/cardback.jpg"),party_action_path(@game.id, action.id) %>

<%= link_to party_action_path(@game.id, action.id) do %>
    <div  id="cardsback" title="<%= t 'actions.take_districts'%>">
    </div>
<%end%>



