<%= #noinspection RubyResolve
    link_to (party_action_path(@game.id, action.id)) do %>
    <div  class="actionOption" id="coins" title="<%= t 'actions.take_gold' %>">

    </div>
    <div class="takeText"><%= t 'board.take_2_gold' %></div>
<%end%>
