<div id="take_extra_cards" class="hidden">
  <div class="popupContainer">
    <a  class="closePopup" title="close popup"></a>

    <h2>Coger cartas extra</h2>
    <div id="take_extra_cards_container">
    <%= link_to (image_tag 'popup_background/bocabajo.png' ), party_action_path(@game.id, [action.id]) %>

    </div>
  </div>
</div>
