

<% content_for :head do %>
    <%= stylesheet_link_tag  "polyglot-language-switcher"%>
    <%= javascript_include_tag "jquery.polyglot.language.switcher" %>
<% end %>

<%= render 'shared/langs' %>
<!--<script type="text/javascript">
    $(document).ready(function() {
        $('#polyglotLanguageSwitcher').polyglotLanguageSwitcher({
            effect: 'fade',

            testMode: false,
            onChange: function(evt){
               // alert("The selected language is: "+evt.selectedItem);
               // $(this).load('/users/1');
                $.ajax({
                    type: "POST",
                    url: "<%#= user_path(current_user.id) %>",
                    data: { _method: "PUT", lang: evt.selectedItem},
                    //success: success,
                    dataType: "html"
                });

            }
//                ,afterLoad: function(evt){
//                    alert("The selected language has been loaded");
//                },
//                beforeOpen: function(evt){
//                    alert("before open");
//                },
//                afterOpen: function(evt){
//                    alert("after open");
//                },
//                beforeClose: function(evt){
//                    alert("before close");
//                },
//                afterClose: function(evt){
//                    alert("after close");
//                }
        });
    });
</script>-->




<!--
<div id="polyglotLanguageSwitcher">
<%#= form_tag ("#") do %>
<%#= select_tag(:polyglot, options_for_select([['English', "en", {:id => "en"}], ['Español', "es", {:id => "es"}]], current_user.lang), :id => "polyglot-language-options") %>
<%#end%>
</div>
-->
<%= link_to (t 'index.back'), root_path %>
