<table class="bordered">
  <thead>

  <tr>
    <th><%= t 'show.users' %></th>
  </tr>

  </thead>


  <% for i in 0..(@room.user - 1) %>
      <tr>
        <td>
          <%if (user = @room.users[i])%>
              <%= user.name %>
          <%else%>
              <%= t 'show.waiting' %>
          <% end %>
        </td>
      </tr>

  <% end %>

</table>

