

body{

   background: url("fondoprueba1.jpg") no-repeat;

  background-color: #e1c192;

}

#header{


  height: 8em;
  background-image: url("Ciudadelas_LOGO_ES.png") ;
  background-repeat: no-repeat ;
  background-position: center
}
#left_bar  {



  float: left;
  width: 5em;
  }

#sessioninit{

  width: 220px;


}

#sessioninit

#email{

  margin-left: 27px;


}