

body{

   background: url("fondo_inicio_identificacion.jpg") no-repeat;
   background-position: center top;
   background-color: #17212b;

}

#header{


  height: 8em;
  background-image: url("Ciudadelas_LOGO_ES.png") ;
  background-repeat: no-repeat ;
  background-position: center;
  margin-bottom: 5%;
}
#left_bar  {



  float: left;
  width: 5em;
  }

#sessioninit{

  width: 220px;


}

#sessioninit

#email{

  margin-left: 27px;


}

.error_explanation{


  color: red;
  //font-family: 'Raleway','Lato',Arial,sans-serif;
  font-size: 19px;
  margin-top: 60px;
  margin-left: 3px;
  position: absolute;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  width: 400px;
  p{
    margin: 0px;
    width: 400px;
  }
}

.error_explanation > h2 {
  //text-align: center;


}

.error_explanation > ul {

  text-align: left;
  margin-left: 15%;
}
