

body{

   background: url("fondoprueba1.jpg") no-repeat;

  background-color: #e1c192;

}

#header{


  height: 8em;
  background-image: url("Ciudadelas_LOGO_ES.png") ;
  background-repeat: no-repeat ;
  background-position: center;
  margin-bottom: 5%;
}
#left_bar  {



  float: left;
  width: 5em;
  }

#sessioninit{

  width: 220px;


}

#sessioninit

#email{

  margin-left: 27px;


}

.error_explanation{


  margin-top: 5%;
 // margin-left: 30%;
  //text-align: left;
  /* Font styles */
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: white;
  text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.error_explanation > h2 {
  text-align: center;

}

.error_explanation > ul {

  text-align: left;
  margin-left: 36%;
}
