// Place all the styles related to the parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Variables*/
$card_width: 77px;
$card_height: 120px;

/*FORM*/
//div{ border: 1px solid;}

body {
  //background-color: #E1C192;
  background-image: url('board_background.jpg');
  background-position: center top;
  background-color: #17212b;
  background-repeat: no-repeat;
}

#parties_content {

  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: white;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
  width: 40%;
  margin-left: 29%;
}

#parties_content tbody {

  overflow: auto;

}

#parties_content tbody, thead {

  display: compact;
}

#parties_content tbody td {
  width: 175px;

}

#parties_content thead th {

  width: 175px;
  background: #e1c192;
}

#parties_content thead th {

  background: #e69835;
}

#parties_content .right_side {

  text-align: center;
}

#scroll-pane, .scroll-pane {
  position: relative
}

.scroll-content {
  position: absolute;
  top: 0;
  left: 0
}

.slider-wrap {
  position: absolute;
  right: 0;
  top: 0;
  background-color: lightgrey;
  width: 20px;
  border-left: 1px solid gray;
}

.slider-vertical {
  position: relative;
  height: 100%
}

.ui-slider-handle {
  width: 20px;
  height: 10px;
  margin: 0 auto;
  background-color: darkgray;
  display: block;
  position: absolute
}

.ui-slider-handle img {
  border: none
}

.scrollbar-top {
  position: absolute;
  top: 0;
}

.scrollbar-bottom {
  position: absolute;
  bottom: 0;
}

.scrollbar-grip {
  position: absolute;
  top: 50%;
  margin-top: -6px;
}

.ui-slider-range {
  position: absolute;
  width: 100%;
  background-color: lightgrey
}

#nombre_partida {

  text-align: center;

}

/*TABLERO*/

#tablero {

  //
  // border: 1px solid;
  //background: #f6d6a5;
  //padding-left: 5px;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#board_bottom {
  position: relative;
  z-index: 0;
  height: 216px;
  width: 1196px;
  background-image: url('manojugador.png');
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-top: -9px;



}

#board_top {

  width: 1000px;
  margin-left: auto;
  margin-right: auto;

}

.player_lane {

  float: left;
  margin-left: 10px;


}
.player_lane:first-child{
  margin-top: -9px;

}


#descartes {

  // height: 250px;

}

#seleccion_personaje {

  position: relative;

}

.image-radio-container {

  //display: inline-block;

}

.image-radio-container input[type="radio"] {
  display: none;
}

.image-radio-container img {

  // margin: 4px;
}

.image-checkbox-container input[type="checkbox"] {
  display: none;
}

.image-checkbox-container img {
  border: 0;

}

#action_button {
  margin-bottom: 10px;

}

/*cards*/

.card {
  background-repeat: no-repeat;
  background-size: cover;
 // width: 75px;
  //height: 120px;
  display: inline-block;
  //border: 1px solid;
}

.character_card {
  background-repeat: no-repeat;
  background-size: cover;
  width: 179*0.75px;
  height: 174*0.75px;
  display: inline-block;
}

.opponent_cards .card {
  // margin-right: -30px ;
  width: 82px;
  height: 128px;

}

#nochar {
  background-image: url('characters/nochar.png');
}

/* District */
#tavern {
  background-image: url('cards/tavern.png');
}

#store {
  background-image: url('cards/store.png');
}

#market {
  background-image: url('cards/market.png');
}

#harbor {
  background-image: url('cards/harbor.png')
}

#docks {
  background-image: url('cards/docks.png')
}

#town_hall {
  background-image: url('cards/town_hall.png')
}

#temple {
  background-image: url('cards/temple.png')
}

#church {
  background-image: url('cards/church.png')
}

#monastery {
  background-image: url('cards/monastery.png')
}

#cathedral {
  background-image: url('cards/cathedral.png')
}

#domain {
  background-image: url('cards/domain.png')
}

#castle {
  background-image: url('cards/castle.png')
}

#palace {
  background-image: url('cards/palace.png')
}

#watchtower {
  background-image: url('cards/watchtower.png')
}

#prison {
  background-image: url('cards/prison.png')
}

#barracks {
  background-image: url('cards/barracks.png')
}

#fortress {
  background-image: url('cards/fortress.png')
}

#imperial_treasure {
  background-image: url('cards/imperial_treasure.png')
}

#haunted_city {
  background-image: url('cards/haunted_city.png')
}

#keep {
  background-image: url('cards/keep.png')
}

#lighthouse {
  background-image: url('cards/lighthouse.png')
}

#powderhouse {
  background-image: url('cards/powderhouse.png')
}

#museum {
  background-image: url('cards/museum.png')
}

#poorhouse {
  background-image: url('cards/poorhouse.png')
}

#bell_tower {
  background-image: url('cards/bell_tower.png')
}

#smithy {
  background-image: url('cards/smithy.png')
}

#quarry {
  background-image: url('cards/quarry.png')
}

#map_room {
  background-image: url('cards/map_room.png')
}

#fountain_wishes {
  background-image: url('cards/fountain_wishes.png')
}

#observatory {
  background-image: url('cards/observatory.png')
}

#laboratory {
  background-image: url('cards/laboratory.png')
}

#factory {
  background-image: url('cards/factory.png')
}

#graveyard {
  background-image: url('cards/graveyard.png')
}

#library {
  background-image: url('cards/library.png')
}

#school_magic {
  background-image: url('cards/school_magic.png')
}

#ballroom {
  background-image: url('cards/ballroom.png')
}

#park {
  background-image: url('cards/park.png')
}

#hospital {
  background-image: url('cards/hospital.png')
}

#great_wall {
  background-image: url('cards/great_wall.png')
}

#throne_hall {
  background-image: url('cards/throne_hall.png')
}

#dragon_gate {
  background-image: url('cards/dragon_gate.png')
}

#university {
  background-image: url('cards/university.png')
}

/* Characters */

#assassin {
  background-image: url('characters/assassin.png')
}

#thief {
  background-image: url('characters/thief.png')
}

#magician {
  background-image: url('characters/magician.png')
}

#king {
  background-image: url('characters/king.png')
}

#bishop {
  background-image: url('characters/bishop.png')
}

#merchant {
  background-image: url('characters/merchant.png')
}

#architect {
  background-image: url('characters/architect.png')
}

#warlord {
  background-image: url('characters/warlord.png')
}

/*Characters for the player*/

#assassin_ui {
  background-image: url('characters/assassin_ui.png')
}

#thief_ui {
  background-image: url('characters/thief_ui.png')
}

#magician_ui {
  background-image: url('characters/magician_ui.png')
}

#king_ui {
  background-image: url('characters/king_ui.png')
}

#bishop_ui {
  background-image: url('characters/bishop_ui.png')
}

#merchant_ui {
  background-image: url('characters/merchant_ui.png')
}

#architect_ui {
  background-image: url('characters/architect_ui.png')
}

#warlord_ui {
  background-image: url('characters/warlord_ui.png')
}

#nochar_ui {
  background-image: url('characters/nochar_ui.png')
}

.character_ui {
  height: 174px;
  width: 280px;
  background-size: contain;
  background-repeat: no-repeat;

}

/*select characters*/

.select_char {

  width: 140px;
  height: 140px;
  //display: inline-block;

}

#seleccion_personaje a {
  margin: 0px;

}

.card_select {
  height: 150px;
  margin-top: 7px;

  img {
    height: inherit;
    //width: 90px;
    //margin-left: 15px;
    float: left;
  }
  p {
    margin-top: 3px;
    font-weight: bold;
  }

}

.card_text_element_title {
  width: 90px;
  float: left;

}

.card_text_elements {

  font-size: 17px;
  color: #000000;
  margin-left: 120px;
  padding-top: 1px;

}

.card_text_element {

  //margin-top: 6px;

}

.char_description {
  text-decoration: none;
  width: 384px;
  margin-left: 133px;
  margin-top: 20px;
  //float:left;
  color: #000000;
  height: 98px;
  position: relative;

}

/*Select action*/

#assassin_select {
  background-image: url('select_char/assassin_select.png')
}

#thief_select {
  background-image: url('select_char/thief_select.png')
}

#magician_select {
  background-image: url('select_char/magician_select.png')
}

#king_select {
  background-image: url('select_char/king_select.png')
}

#bishop_select {
  background-image: url('select_char/bishop_select.png')
}

#merchant_select {
  background-image: url('select_char/merchant_select.png')
}

#architect_select {
  background-image: url('select_char/architect_select.png')
}

#warlord_select {
  background-image: url('select_char/warlord_select.png')
}

#nochar_select {
  background-image: url('select_char/nochar_select.png')
}

/* Actions */

#coins {
  background-image: url('cards/coins.png');
  background-repeat: no-repeat;
  width: 133px;
  height: 144px;
}

#cardsback {
  background-image: url('cards/bocabajo.png');
  background-repeat: no-repeat;
  width: 133px;
  height: 144px;
}

#acciones {
  a {
    display: inline-block;
    margin-left: 60px;
    color: #5e2f0f;
    text-shadow: 1px 1px 1px #472310;
  }
}

.character_target {
  display: inline-block;
  h3 {
    margin-bottom: 3%;
  }
}

.ok_button {

  background: url('nohover.png') no-repeat center;
  padding-top: 15px;
  height: 45px;
  width: 160px;
  margin-left: 189px;
  position: absolute;
  top: 335px;
  a {
    color: #000000;

  }

}

.ok_button:hover {
  background: url('hover.png') no-repeat center;
  padding-top: 17px;

}

#leaveParty {
  background: url('nohover.png') no-repeat center;
  padding-top: 10px;
  height: 45px;
  width: 160px;
  margin-left: 450px;
  a {
    color: #000000;
    text-decoration: none;
    font-size: 23px;
    margin-left: 58px;
  }
}

#leaveParty:hover {
  background: url('hover.png') no-repeat center;
  padding-top: 12px;

}

#cardback {
  background-image: url('cards/cardback.png')
}

.action_icon {
  background-repeat: no-repeat;
  background-size: cover;
  height: 55px;
  width: 55px;
  display: inline-block;
  cursor: pointer;

}

#build_icon.action_icon {
  background-image: url('action_icons/build.png');
}

#build_container {

  width: 541px;
  //text-align: center;
  //margin-left: 28px;
  height: 315px;

}

#change_cards_icon.action_icon{
  background-image: url('action_icons/change.png');

}

#take_taxes_icon.action_icon{
  background-image: url('action_icons/taxes.png');

}

#crown_icon.action_icon{
  background-image: url('action_icons/crown.png');

}

#extra_coin_icon.action_icon{
  background-image: url('action_icons/extra_gold.png');
}

#steal_icon.action_icon{
  background-image: url('action_icons/steal.png');
}

#graveyard_icon.action_icon{
  background-image: url('action_icons/graveyard.png');
}

//TODO cambiar icono
#bell_tower_icon.action_icon{
  background-image: url('action_icons/protection.png');
}

#kill_icon.action_icon{
  background-image: url('action_icons/kill.png');
}

#kill_container {
  width: 541px;
  text-align: center;
  margin-left: 28px;
}

#build_severals_icon.action_icon{
  background-image: url('action_icons/build.png');
}

#build_severals_container {
  width: 541px;
  text-align: center;
  margin-left: 28px;
  margin-top: 10px;
}

#take_extra_cards_icon.action_icon{
  background-image: url('action_icons/take_extra_cards.png');
}

#take_extra_cards_container {
  width: 541px;
  text-align: center;
  margin-left: 28px;

}

#destroy_building_icon.action_icon{
  background-image: url('action_icons/destroy.png');
}

#card_to_coin_icon.action_icon{
  background-image: url("action_icons/card_to_coin.png");
}

#card_to_coin_container {
  width: 541px;
  text-align: center;
  margin-left: 28px;
}

#coins_to_cards_icon.action_icon{
  background-image: url("action_icons/coins_to_cards.png");
}

#coins_to_cards {
  text-align: center;
}

#self_destruction_icon.action_icon{
  background-image: url("action_icons/self_destruction.png");
}

#search_card_icon.action_icon{
  background-image: url("action_icons/search_card.png");
}

#store_card_icon.action_icon{
  background-image: url("action_icons/store_card.png");
}

#build #popupContainer .card {
  display: inline-block;
}

/* Opponent style */

.opponent_ui {

  width: 81px;
  height: 126px;
  float: left;
  // background-image: url("UIoponente.png");
  //background-repeat: no-repeat;

}


.current_player{
  border:solid 1px green;
}
.waiting_player{
  border:solid 1px yellow;
}

.end_player{
  border:solid 1px red;
}

.data_opponent {

  width: 40px;
  position: relative;
  bottom: 56px;
  left: 25px;
  text-align: center;

  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #CCC, 2px 2px 0 #CCC;
  cursor: default;

}

.opponent_cards {

  //border: 1px solid;

  width: 800px;
  //padding-top: 20px;
  height: 126px;
  margin-left: 88px;


}

.opponent {
  //height: 155px;
  margin-bottom: 13px;

}

#player_container {
  width: 1000px;

}

/* Player style*/

.player_name {
  color: white;
  font-size: 16px;
  left: 3px;
  position: relative;
  text-align: center;
  top: 52px;
  width: 77px;
  cursor: default;

}

#ficha_jugador {
  width: 200px;
  height: 180px;
  float: left;


}

#distritos_construidos .card, #cartas_mano .card {

  width: $card_width;
  height: $card_height;
  //display: inline-block;
}



#char .character_card {
  width: 179px;
  height: 174px;

}


#distritos_construidos {

  width: (($card_width + 3) * 4);

}

#cartas_mano {

  width: (($card_width + 5) * 4);

}

.card_container {

  height: $card_height;
  margin-bottom: 20px;
  //display: inline-block;

}

.data_user {
  height: 30px;
  width: 75px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #CCC, 2px 2px 0 #CCC;
  cursor: default;
  position: relative;

}

   #golds.data_user{
  left: 105px;
  top: 23px;
  -webkit-transform: rotate(38deg);
  -moz-transform: rotate(38deg);
  -o-transform: rotate(38deg);
  writing-mode: lr-tb;

}
#points.data_user {
  left: 22px;
  top: -21px;
  -webkit-transform: rotate(-17deg);
  -moz-transform: rotate(-17deg);
  -o-transform: rotate(-17deg);
  writing-mode: lr-tb;
}



#icons_bar {
  height: 130px;
  width: 233px;
}

#central_block{
  //margin-top: 16px;
}

#finturno {
  text-align: center;
  background-image: url('endturn.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 226px;
  height: 60px;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;

  a {
    text-decoration: none;
    color: #000000;
  }

   div {
    height: inherit;
    padding-top: 5px;

  }
   div:hover {
    margin-top: 2px;
     padding-top: 8px;
  }
}

#finturno:hover {
  background-image: url('endturnhover.png');

}


#resumen_content {
  margin-right: auto;
  margin-left: auto;
  width: 950px;
}

.options {
  text-align: center;
  border: #cb8d48 solid 3px;
  width: 160px;
  background-color: #f5b220;
  display: inline-block;
  margin-right: 40px;
  margin-left: 40px;
}

.char_name {
  //height: inherit;
  margin-top: 7px;
  //padding-top: 105px;
  font-size: 20px;
  color: black;
  text-align: center;
  //position: relative;
  // top: 105px;
  width: 140px;
}

.image-checkbox-container, .image-radio-container {

  //margin: 4px;

}

#space_bar {
  background-image: url("barra.png");
  height: 16px;
}

#lista_jugadores {
  margin-top: 20px;
  float: left;
  height: 440px;
  padding-left: 30px;
  width: 1000px;
}

.opponent_name {
  text-align: center;
  margin-bottom: 3px;

}

.opponent_name h3 {

  //margin-left: 43%;
  margin-bottom: 0px;
  background-image: url("marconombre.png");
  background-repeat: no-repeat;
  height: 28px;
  width: 263px;
  color: #cecece;

}

#player_elements_container {


}

#final_points {
  background-image: url("points_ball.png");
  background-repeat: no-repeat;
  height: 39px;
  width: 39px;;
  text-align: center;
  text-shadow: 1px 1px 0 #CCCCCC, 2px 2px 0 #CCCCCC;
  font-size: 27px;
  font-weight: bold;
  float: left;
  margin-right: -4px;
  margin-top: 85px;
}

.data_opponent_final {
  bottom: 172px;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  left: 144px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 0 #CCCCCC, 2px 2px 0 #CCCCCC;
  width: 40px;
}

#messages_container {
  width: 400px;
  height: 200px;
  overflow: auto;
  p {
    margin: 0;
  }

}

#messages_icon {
  float: left;
  margin-left: 35px;
  margin-top: 22px;
  width: 32px;
  height: 42px;
  background-image: url('scroll_icon.png');
}

.no_prompt {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

#log_container {

  //background-image: url('log_board.png');
  width: 345px;
  height: 440px;
  margin-left: 644px;
  background-repeat: no-repeat;
  background-size: cover;

}

#preview{
  width: 200px;

}

.preview_description {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #28222D;
  color: white;
  text-align: center;

}