// Place all the styles related to the parties controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Variables*/
$card_width: 75px;
$card_height: 120px;


/*FORM*/
//div{ border: 1px solid;}

#parties_content{

  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  color: white;
  text-shadow: 0 2px 1px rgba(0,0,0,0.3);
  width: 40%;
  margin-left: 29%;
}
#parties_content tbody{


  overflow: auto;

}
#parties_content tbody,thead{

   display: compact;
}
#parties_content tbody td{
  width: 175px;

}

#parties_content thead th{

  width: 175px;
  background: #e1c192;
}

#parties_content thead th {


  background: #e69835;
}

#parties_content .right_side {

  text-align: center;
}

#scroll-pane,.scroll-pane{position:relative}
.scroll-content {position:absolute;top:0;left:0}
.slider-wrap{position:absolute;right:0;top:0;background-color:lightgrey;width:20px;border-left:1px solid gray;}
.slider-vertical{position:relative;height:100%}
.ui-slider-handle{width:20px;height:10px;margin:0 auto;background-color:darkgray;display:block;position:absolute}
.ui-slider-handle img{border:none}
.scrollbar-top{position:absolute;top:0;}
.scrollbar-bottom{position:absolute;bottom:0;}
.scrollbar-grip{position:absolute;top:50%;margin-top:-6px;}
.ui-slider-range{position:absolute;width:100%;background-color:lightgrey}


#nombre_partida{

  text-align: center;

}

.form-4 select
  {
  /* Size and position */
  width: 100%;
  padding: 8px 4px 8px 10px;
  margin-bottom: 15px;

  /* Styles */
  border: 1px solid #4e3043; /* Fallback */
  border: 1px solid rgba(78,48,67, 0.8);
  background: #f6d6a5;


  //border-radius: 2px;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.2),
    inset 0 1px 1px rgba(0,0,0,0.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  /* Font styles */
;

}

.form-4 select:hover
  {
  border-color: #333;
}

.form-4 select {

  color: rgba(37,21,26,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.15);

}

.form-4 select option:nth-child(n+2) {

  color: #fff;

}

.form-4 select:focus
  {
  box-shadow:
    0 1px 0 rgba(255,255,255,0.2),
    inset 0 1px 1px rgba(0,0,0,0.1),
    0 0 0 3px rgba(255,255,255,0.15);
  outline: none;
}

.no-boxshadow .form-4 select:focus
  {
  outline: 1px solid white;
}

/*TABLERO*/


#tablero{



}

#tablero {


  border: solid 1px;
  background: #f6d6a5;
}

#top_tablero{


  margin: 1px;
  margin-top: 100px;
  //height: 250px;

}
#jugador{

  background: #ffc477; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffc477 13%, #ffa347 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,#ffc477), color-stop(100%,#ffa347)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffc477 13%,#ffa347 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffc477 13%,#ffa347 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffc477 13%,#ffa347 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffc477 13%,#ffa347 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc477', endColorstr='#ffa347',GradientType=0 ); /* IE6-9 */


  // float: left;
   //width: 70%;
  //height: 250px;

}
.player_lane{

 // height: 125px;

}

#ficha_jugador {
     float: left;

}


#descartes{

    // height: 250px;

}


 #seleccion_personaje{

    position: relative;

 }

 .image-radio-container{

   display: inline-block;

 }
.image-radio-container input[type="radio"]{
  display: none;
}

.image-radio-container img{

  margin: 4px;
}
.image-checkbox-container input[type="checkbox"]{
  display: none;
}

.image-checkbox-container img{
  border: 0;
  margin: 4px;
}

/*cards*/

.card{
  background-repeat: no-repeat ;
  background-size: cover;
  width: 75px;
  height: 120px;
  display: inline-block;
}



/* District */
#tavern{ background-image: url('cards/tavern.jpg');}
#store{ background-image: url('cards/store.jpg');}
#market{  background-image: url('cards/store.jpg');}
#harbor{background-image: url('cards/harbor.jpg')}
#docks{background-image: url('cards/docks.jpg')}
#town_hall{background-image: url('cards/town_hall.jpg')}
#temple{background-image: url('cards/temple.jpg')}
#church{background-image: url('cards/church.jpg')}
#monastery{background-image: url('cards/monastery.jpg')}
#cathedral{background-image: url('cards/cathedral.jpg')}
#domain{background-image: url('cards/domain.jpg')}
#castle{background-image: url('cards/castle.jpg')}
#palace{background-image: url('cards/palace.jpg')}
#watchtower{background-image: url('cards/watchtower.jpg')}
#prison{background-image: url('cards/prison.jpg')}
#barracks{background-image: url('cards/barracks.jpg')}
#fortress{background-image: url('cards/fortress.jpg')}
#imperial_treasure{background-image: url('cards/imperial_treasure.jpg')}
#haunted_city{background-image: url('cards/haunted_city.jpg')}
#keep{background-image: url('cards/keep.jpg')}
#lighthouse{background-image: url('cards/lighthouse.jpg')}
#powderhouse{background-image: url('cards/powderhouse.jpg')}
#museum{background-image: url('cards/museum.jpg')}
#poorhouse{background-image: url('cards/poorhouse.jpg')}
#bell_tower{background-image: url('cards/bell_tower.jpg')}
#smithy{background-image: url('cards/smithy.jpg')}
#quarry{background-image: url('cards/quarry.jpg')}
#map_room{background-image: url('cards/map_room.jpg')}
#fountain_wishes{background-image: url('cards/fountain_wishes.jpg')}
#observatory{background-image: url('cards/observatory.jpg')}
#laboratory{background-image: url('cards/laboratory.jpg')}
#factory{background-image: url('cards/factory.jpg')}
#graveyard{background-image: url('cards/graveyard.jpg')}
#library{background-image: url('cards/library.jpg')}
#school_magic{background-image: url('cards/school_magic.jpg')}
#ballroom{background-image: url('cards/ballroom.jpg')}
#park{background-image: url('cards/park.jpg')}
#hospital{background-image: url('cards/hospital.jpg')}
#great_wall{background-image: url('cards/great_wall.jpg')}
#throne_hall{background-image: url('cards/throne_hall.jpg')}
#dragon_gate{background-image: url('cards/dragon_gate.jpg')}
#university{background-image: url('cards/university.jpg')}

/* Characters */

#assasin{background-image: url('cards/assasin.png')}
#thief{background-image: url('cards/thief.png')}
#magician{background-image: url('cards/magician.png')}
#king{background-image: url('cards/king.png')}
#bishop{background-image: url('cards/bishop.png')}
#merchant{background-image: url('cards/merchant.png')}
#architect{background-image: url('cards/architect.png')}
#warlord{background-image: url('cards/warlord.png')}

/* Actions */

#coins{background-image: url('cards/coins.jpg')}
#cardback{background-image: url('cards/cardback.jpg')}


.action_icon{
  background-repeat: no-repeat ;
  background-size: cover;
  height:60px;
  width: 60px;
  display: inline-block;


}
#build.action_icon{
  background-image: url('action_icons/build.png');
}
#change_cards.action_icon{
   background-image: url('action_icons/change.png');

 }
#take_taxes.action_icon{
  background-image: url('action_icons/taxes.png');

}
#crown.action_icon{
  background-image: url('action_icons/crown.png');

}
#extra_coin.action_icon{
   background-image: url('action_icons/extra_gold.png');
 }

#steal.action_icon{
  background-image: url('action_icons/steal.png');
}

#protection.action_icon{
  background-image: url('action_icons/protection.png');
}

#kill.action_icon{
  background-image: url('action_icons/kill.png');
}

#build_severals.action_icon{
  background-image: url('action_icons/build.png');
}

#take_extra_cards.action_icon{
  background-image: url('action_icons/take_extra_cards.png');
}
#destroy_building.action_icon{
  background-image: url('action_icons/destroy.png');
}

#build #popupContainer .card{

  display: inline-block;




}


/* Opponent style */

#opponent_iu{

  width: 258px;
  height: 122px;

}

.data_opponent{
  height: 40px;
  width: 170px;
  position: relative;
  bottom: 128px;
  left: 79px;

}

#opponent_cards{

  position: relative;
  width: 800px;
  left: 259px;
  bottom: 122px;
}

.opponent{
  height: 130px;


}

/* Player style*/


#ficha_jugador{
  width: 200px;
  height: 180px;


}

#distritos_construidos .card, #cartas_mano .card{

  width: $card_width;
  height: $card_height;
}

#distritos_construidos, #cartas_mano{
  margin-top: 30px;


}

#char .card{
  width: 162px * 0.60;
  height: 260px * 0.60;

}
.player_lane{
  display: inline-block;
}

#distritos_construidos{
  margin-right: 150px;
  width: ($card_width * 4) + 100 ;
}
#cartas_mano{

  width: ($card_width * 4) +100 ;

}

.card_container{

  height: $card_height;
  margin-bottom: 20px;

}
.data_user{
  height: 30px;
  width: 75px;
  position: relative;
  bottom: 130px;
  left: 100px;
  margin-bottom: 30px;
  text-align: center;

}

#icons_bar{

  position: relative;
  bottom: 210px;
  //left: 250px;
}

/* rejected */


