#wrap
{
	width:600px;
	margin:100px auto;
}

#content
{
	border-bottom:1px dotted #999;
	border-top:1px dotted #999;
	padding:20px 0;
}

#footer
{
	background-color:#666;
	position:fixed;
	width:100%;
	height:70px;
	bottom:0;
	left:0;
	text-shadow: 2px 2px 2px #000;
}
#footer h1
{
	
	left:50%;
	text-shadow: 2px 2px 2px #000;
	margin-left:-400px;
	padding:20px 0;
	position:absolute;
	width:400px;
	color:#f60;
	font:35px/42px 'Cantarell';
	font-weight:900;
	letter-spacing:-1px;
}
#footer a.orig,
a.orig:visited
{
	border:none;
	text-decoration:none;
	color:#fff;
	font-size:22px;
	height:70px;
	left:50%;
	line-height:31px;
	margin:23px 0 0 110px;
	position:absolute;
	top:0;
	width:290px;
}
a,
a:visited
{
	text-decoration:underline;
	outline:none;
	//color:#97CAE6;
}
#footer a:hover {
	color:#ccc;
	 text-decoration:none; }
/**styling for the popup
**/
.overlayEffect
{
    z-index:1;
	//display:none;
	position:fixed;
	opacity:0.7;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background: -moz-linear-gradient(rgba(23, 23, 23, 0.9), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(23, 23, 23, 0.9)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);

}
.popupContainer
{
	//position:fixed;
	//left:50%;
	//top:50%;
	width:600px;
	//background:url('body_bg.jpg') repeat-x left bottom #e5e5e5;
	//border:5px solid #cecece;
  height: 400px;
  background:  url("popup_background/destroy_building.png");

	z-index:2;
	//padding:10px;
	//border: 1px solid rgba(33, 33, 33, 0.6);
	-moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
   // text-align: center;

  a{

   // display: inline-block;
    text-decoration: none;

  }

}

#seleccion_personaje{
  .popupContainer{
 // height: 400px;
  //background-image:  url("popup_background/destroy_building.png");
  }

  h2{
    margin-bottom: 0px;
    margin-top: 30px;
    text-align: center;
  }

  h4{
    margin-bottom: 1px;
  }
}

#take_taxes .popupContainer{

 // height: 400px;
 // background-image:  url("popup_background/destroy_building.png");

}

#change_cards .popupContainer{

  //height: 400px;

}
#destroy_building .popupContainer{

 // height: 400px;
 // background-image:  url("popup_background/destroy_building.png");
 // background-repeat: no-repeat;
}


#crown{


 // width:700px;

}

 h5{
  margin: 4px;
}

.tab{

  height: 35px;
  text-align: center;
  position: relative;
  //top: 30px;
  padding-top: 9px;


}
.tab.unselected, .tab.disabled{
  width: 130px;
  left: -158px;
  background-image: url("popup_background/player_unselected.png");
  background-repeat: no-repeat;
  background-size: 100%;


}


.tab.selected{
  left: -188px;
  width: 160px;
  background-image: url("popup_background/player_selected.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tab_data .cards{

 position: absolute;
  top: 35px;

}

.popupContent{
  margin-left: 30px;
  margin-top: 30px;
  width: 530px;
  height: 344px;




}

.container_cards_pop{

  width: 535px;
  height: 315px;
  top: 31px;

}

#action_container{


  margin-left: 28px;
  margin-top: 50px;

}



.popupContainer {


  input[type=submit]{
    border: none;
    width: 160px;
    height: 45px;
    background:  url('nohover.png') no-repeat;
    text-align: center;
    padding-bottom: 10px;
    margin-left: 190px;

    text-shadow: 0px 1px 1px #4d4d4d;
    color: #222;
    font: 20px 'LeagueGothicRegular';
  }

  input[type=submit]:hover{
    border: none;
    background:  url('hover.png') no-repeat;
    padding-bottom: 8px;
  }

}

/*#destroy_building .player_tab{

   //width: 130px;
   height: 35px;
   text-align: center;
   position: relative;
   left: -159px;
   top: 30px;
   padding-top: 9px;

 }
#destroy_building .unselected, #destroy_building .disabled{
  width: 130px;
  left: -129px;
  //border: 3px solid #f6d6a5;
  background-image: url("popup_background/player_unselected.png");
  background-repeat: no-repeat;
  background-size: 100%;


}

#destroy_building .selected{
  width: 160px;
  background-image: url("popup_background/player_selected.png");
  background-repeat: no-repeat;
  background-size: 100%;
}*/


#change_cards{
  .select_char{
  float:left;
  }
 .card_over{
   margin-right: -45px;
 }
}

.player_name_popup{
  color: black;
  font-size: 20px;
  left: 11%;
  position: relative;
  text-align: center;
  top: 104px;
  width: 107px;
}

#taxes_recount{

text-align: center;
  > p {
    font-size: 45px;
      }
}

.player_data .cards{

    position: absolute;
    left: 50px;
    top: 31%;
}

.actionMessage{


  font-size: 31px;
 // margin-top: 171px;
  text-align: center;
 // margin-left: 12px;
  position: absolute;
  width: 545px;
  top: 140px;
}

.actionOption{
      margin-left: 35px;
      margin-top: 80px;

}
.takeText{
   text-align: right;

}
.change_player_content{
  height: 140px;
}


.faceback_cards{

  width: 500px;
  padding-top: 10px;
}

.popupContainer h1
{
	text-align:left;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	color:#090;
	font:22px;
	border-bottom:2px dotted #D3D3D3;
	padding: 5px 2px;
	margin-bottom:10px;
}
.popupContainer p
{
//	font-size:16px;
//	line-height:1.4;
}
.closePopup
{
	background:url('x.png') no-repeat center center;
	cursor:pointer;
	width:25px;
	height:26px;
	position:fixed;
	z-index:3200;
	position:absolute;
	top:-25px;
	right:-22px;
}
#button
{
	text-align:center;
	padding:10px;
}
.hidden { display:none; }

#messages_container .popupContent{

  //height: 400px;
  //overflow: auto;
}

.actiondiv{

   z-index: 2;
}